.my-masonry-grid {
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: auto;
    /* flex-wrap: wrap; */
    
  }
  .my-masonry-grid_column {
    padding-left: 10px; /* gutter size */
    min-width: 200px;
    flex-grow: 1;
  }
  
  /* Style your items */
  .my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
    margin-bottom: 10px;
  }

  .navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left: auto;
}

.loading {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1px dotted black;

}